*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
.header{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(slike/pozadina.jpg);
    background-position: center;
    background-size:cover;
    position:relative;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content:space-between ;
    align-items:center;
}

nav img{
    width:150px;
    left:3px;
}
.linkovi{
    flex:1;
    text-align: right;
}
.linkovi ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position:relative
}
.linkovi ul li a{
    color:beige;
    text-decoration: none;
    font-size: 20px;
}
.linkovi ul li a:hover{
    color:rgb(238, 12, 12);
    transition:0.5s;
}
.text-box{
    width:80%;
    left:5%;
    top:30%;
    color:beige;
    position:absolute;

}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    font-size:25px;
    margin:10px 0 40px;
    color:beige;
}
.text2{
    right:3%;
    width:80%;
    top:70%;
    color:beige;
    position:absolute;
}
.text2 h1{
    text-align:right;
    font-size:35px;
}
.text2 p{
    text-align:right;
    font-size:20px;
    margin:5px 15px;
    color:beige;
}
.slika1{
    position:absolute;
    top:20%;
    right:5%;
    height:50px;
}

.slika2{
    position:absolute;
    bottom: 50%;
    left: 5%;
    height:50px;
}

.slika2 img{
    border-radius: 20px;
}

.slika1 img {
    border-radius: 20px;
}
/*---------istorijat----------*/










